@foreach(var news in Model)
{
    if(ViewBag.Count == 1)
    {
        @:<div class="title">News & Announcements</div>
        @:<div align="center" class="margin-top_10"><img src="/Galleries/News Images/@news.NewsImageName" width="256" height="220"></div>
                
        @:<figcaption>@news.IntroText<br />
            @:<span class="more margin-top_10"><a href="#">view all news</a></span>
            @:<span class="pagination">
    }
    if (ViewBag.Count == 1)
    {
        @:<a href="#" ><i class="icon-caret-left" title="Previous" alt="Previous"></i></a>
    }
        @:<a href="#">@ViewBag.Count</a>
    if(ViewBag.Count == 6 || ViewBag.Count == Model.Count)
    {
            @:<a href="#" ><i class="icon-caret-right" title="Next" alt="Next"></i></a>
            @:</span>    
        @:</figcaption>
    }

    ViewBag.Count = ViewBag.Count + 1;
}
