<h3>@ViewBag.ParentName Links</h3>
<ul class="catlog_nav">
    @foreach (var page in Model)
    {
        if(page.DisplayOnSubmenu == 1)
        {
            <li><a href="/@page.PageID" title="@page.NavigationName">@page.NavigationName</a></li>
        }
    }
  
</ul>
