@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="left_part">
    <div style="margin-top: 30px;">
        @if (ViewBag.PageType == "Form")
        {
            @Html.Action("getForm", new { id = ViewBag.id})
        }
        else
        {
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(ViewBag.Content)) 
        }
    </div>
</div><!--end left_part-->
            
<div class="right_part">
    <div class="margin-top_10">&nbsp;</div>
                
    @Html.Action("Container", new{ id = ViewBag.PageId })
</div> <!--end right part-->
