@{
    ViewBag.Title = "Interior";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="inner_bg"></div><!--end inner-->
    <div class="inner-content">
      	<div class="breadcum"><a href="index.html">Home</a> / Catalog</div>

        @Html.Raw(Model.Content)

        <div class="clear"></div>
    </div><!--end left_part-->
            
    <div class="right_part">
        <div class="coloumn3">
            <div class="inner-cen-bg">
                @Html.Action("SystemSubMenu", "Home", new{id = ViewBag.PageId})	
            </div>
        </div><!--end coloumn3-->
        <div class="inner-bot-bg"></div>  
        <div class="margin-top_10">&nbsp;</div>  
        @Html.Action("Container", "Home", new{ id = ViewBag.TemplateId })
    </div> <!--end right part--> 
