@{
    ViewBag.Title = "Interior";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="inner_bg"></div><!--end inner-->
    <div class="inner-content">
      	<div class="breadcum"><a href="index.html">Home</a> / Catalog</div>
        <div class="search">
          	<div class="search-form">
                <form name="form2" method="post" action="">
                    <table width="585" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="155">&nbsp;</td>
                            <td width="179"><input type="text" class="input2" name="search" id="textfield"></td>
                            <td width="167">
                                <select name="select" class="select2" id="select">
                                    <option selected>Keyword</option>
                                    <option>This Website</option>
                                    <option>This Web</option>
                                </select></td>
                            <td width="84">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td class="limit">Limit Locations To</td>
                            <td class="limit">Limit Media Type to</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>
                                <select name="select2" class="select2" id="select2">
                                    <option>All Branches</option>
                                    <option>Branch 1</option>
                                    <option>Branch 2</option>
                                </select>

                            </td>
                            <td>
                                <select name="select3" class="select2" id="select3">
                                    <option>All Media</option>
                                    <option>Media 1</option>
                                    <option>Media 2</option>
                                </select></td>
                            <td>
                                <input type="submit" class="button" name="button2" id="button" value="Submit">
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td colspan="2">or Go to Our<span class="advance"> Advanced Search</span></td>
                            <td>&nbsp;</td>
                        </tr>

                    </table>
                </form>
            </div>
        </div><!--end search-->
        <div class="colomn-left">
            <div class="border padding">
                <h2>EXPLORE THE COLLECTION</h2>
            	<ul class="cat">
            	    <li><a href="#" title="Most Popular Books">Most Popular Books</a></li>
               	  	<li><a href="#" title="Latest Movies">Latest Movies</a></li>
           		  	<li><a href="#" title="Hours & Locations">Hours & Locations</a></li>
                    <li><a href="#" title="Most Popular Books">Most Popular Books</a></li>
               	  	<li><a href="#" title="Latest Movies">Latest Movies</a></li>
           		  	<li><a href="#" title="Hours & Locations">eBooks</a></li>
       			  	<span class="more"><a href="#">more...</a></span>			
           	    </ul>
	        </div>
                
                
            <div class="box border padding">
                <h2>netLIBRARY eBOOKS</h2>
                <figcaption class="caption">Want complete access to eBooks and eAudio online? Check out our collection of  eBooks & eAudio that                   you can access online anytime. Want complete access to eBooks and eAudio online? Check out our collection of  eBooks & eAudio that                   you can access online anytime. <br />
                    <a href="#">Check out the eBooks</a>
                </figcaption>
		    </div>
                
            <div class="box border padding">
                <h2>REQUEST A BOOK/CD/DVD</h2>
                <figcaption class="caption">Want complete access to eBooks and eAudio online? Check out our collection of  eBooks & eAudio that                   you can access online anytime.
                    <a href="#">Check out the eBooks</a>
                </figcaption>
	        </div>
                
            <div class="box border padding">
                <h2>BUY BOOKS</h2>
                <figcaption class="caption">Want complete access to eBooks and eAudio online? Check out our collection. <br />
                    <a href="#">Check it out</a>
                </figcaption>
		    </div>
        </div><!--end colomn-left-->
                
        <div class="colomn-right">
            <div class="border padding">
                <h2>BOOK CLUBS</h2>
                <figcaption class="caption">Meet interesting people and share the pleasure of reading:</figcaption>
            	<ul class="squire">
            	    <li><a href="#">Fairfield Afternoon Club</a><br />
                        <span class="dark-gray">Now Reading:</span> <a href="#">Doughter's Keeper, by Aylet Waldman</a>
                    </li>
                    
                    <li><a href="#">Fairfield Afternoon Club</a><br />
                    	<span class="dark-gray">Now Reading:</span> <a href="#">Doughter's Keeper, by Aylet Waldman</a>
                    </li>
                    
                    <li><a href="#">Fairfield Afternoon Club</a><br />
                    	<span class="dark-gray">Now Reading:</span> <a href="#">Doughter's Keeper, by Aylet Waldman</a>
                    </li>
                    
                    <li><a href="#">Fairfield Afternoon Club</a><br />
                    	<span class="dark-gray">Now Reading:</span> <a href="#">Doughter's Keeper, by Aylet Waldman</a>
                    </li>
       			  				
           	    </ul>
                <span class="more"><a href="#">view all book clubs</a></span>
	        </div>
                
            <div class="box border padding">
                <h2>SUGGESTED REDDING</h2>
                <figcaption class="caption">Can't decide what to read next?</figcaption>
            	<ul class="nospace">
            	    <li><a href="#">Bestsellers Lists</a></li>
                    <li><a href="#">Bestsellers Lists</a></li>
                    <li><a href="#">Bestsellers Lists</a></li>			
           	    </ul>
		    </div>
        </div><!--end colomn-right-->

        <div class="clear"></div>
    </div><!--end left_part-->
            
    <div class="right_part">
        <div class="coloumn3">
            <div class="inner-cen-bg">	
            	<h3>Catalog Links</h3>
            	<ul class="catlog_nav">
            		<li><a href="#" title="Explore">Explore</a></li>
               	    <li><a href="#" title="Suggested Reading">Suggested Reading</a></li>
           		  	<li><a href="#" title="ebooks">ebooks</a></li>
       			  	<li><a href="#" title="Request">Request</a></li>
       			  	<li><a href="#" title="Book Clubs">Book Clubs</a></li>
           	    </ul>
            </div>
        </div><!--end coloumn3-->
        <div class="inner-bot-bg"></div>    
        <div class="box border"><img src="~/Content/images/add1.jpg" width="303" height="82"></div>
        <div class="box"><img src="~/Content/images/add2.jpg" width="303" height="59"></div>    
        <div class="box border padding">
            <h2>NY TIMES BESTSELLERS</h2>
            <span class="fiction">Non-Fiction</span>
            <ol class="squire">
                <li><a href="#">Marley & Me,</a>
                    John Grogan
                </li>
                <li><a href="#">The World is Flat, </a>
                  	Thomas Friedman
                </li>
                <li><a href="#">Marley & Me,</a>
                   	John Grogan
                </li>
                <li><a href="#">The World is Flat, </a>
                   	Thomas Friedman
                </li>
                <li><a href="#">Marley & Me,</a>
                   	John Grogan
                </li>
            </ol>
            <span class="more"><a href="#">more...</a></span>
            <span class="fiction margin-top_25">Fiction</span>
            <ol class="squire">
                <li><a href="#">Marley & Me,</a>
                   	John Grogan
                </li>
                <li><a href="#">The World is Flat, </a>
                   	Thomas Friedman
                </li>
                <li><a href="#">The World is Flat, </a>
                   	Thomas Friedman
                </li>
                <li><a href="#">Marley & Me,</a>
                   	John Grogan
                </li>
                <li><a href="#">Marley & Me,</a>
                   	John Grogan
                </li>
            </ol>
            <span class="more"><a href="#">more...</a></span>
        </div>
                
        <div class="adver">
            <div class="green"></div>
            <div class="img_left"><img src="~/Content/images/img2.jpg" width="102" height="88"></div>
			<figcaption>
                June 10-Aug 10. A reading game and free performances. <br />
                <a href="#">707-421-6500</a>
            </figcaption>
        </div>
    </div> <!--end right part--> 
