@{
    ViewBag.Title = "Kids";
    Layout = "~/Views/Shared/_LayoutKids.cshtml";
}

<div class="margin-top_10"></div>

@Html.Raw(Model.Content)

        @if (ViewBag.PageType == 2)
        {
            if (ViewBag.isPostBack == 1)
            {
                @Html.Raw(System.Web.HttpUtility.HtmlDecode(ViewBag.Success));
            }
            else
            {
                @Html.Action("getForm", "Home", new { parentId = Model.PageID, id = ViewBag.id})
            }
        }