@{
    ViewBag.Title = "Kids";
    Layout = "~/Views/Shared/_LayoutKids.cshtml";
}

<div class="margin-top_10"></div>
<section class="margin">
    <div class="breadcum"><a href="index.html">Home</a> / <a href="kids.html">Kids</a> / Homework Help</div>
            	
    <div class="kids-menu">
        <ul class="kids">
            <li class="bg-red active-touch"><span class="thums"><img src="~/Content/images/thums1.png" width="94" height="61"></span><a href="kids.html">Kids</a></li>
            <li class="bg-yellow"><span class="thums"><img src="~/Content/images/thums2.png" width="94" height="61"></span><a href="babies.html">Babies & Toddlers</a></li>
            <li class="bg-blue"><span class="thums"><img src="~/Content/images/thums3.png" width="94" height="61"></span><a href="parents.html">Parents</a></li>
            <li class="bg-green"><span class="thums"><img src="~/Content/images/thums4.png" width="94" height="61"></span><a href="teachers.html">Teachers</a></li>
            <li class="bg-purple"><span class="thums"><img src="~/Content/images/thums5.png" width="94" height="61"></span><a href="events.html">Events</a></li>
            <li class="bg-shine-green"><span class="thums"><img src="~/Content/images/thums6.png" width="94" height="61"></span><a href="kids-catalog.html">Kids Catalog</a></li>
        </ul>
    </div><!--end colomn-left-->
            	
                
    <div class="kids-content">
        <div class="one-collumn float_left border">
            <div class="bg-blue kids-title">Get Homework Help</div>
            <span class="imgL border"><img src="~/Content/images/home-work-img.jpg" title="Homework" alt="Homework" width="105" height="150"></span>
            <div class="text">
                <p>Want to ace that test or write a report that shines? Great links and real live people at your service!	                                </p>
                <div class="margin-top_10"><img src="~/Content/images/go.jpg" width="143" height="61"></div>
            </div>
            <div class="clear"></div>
        </div><!--end one-collumn-->
                 
        <div class="one-collumn float_right border">
            <div class="bg-yellow kids-title">Find A Book</div>
            <span class="imgL border"><img src="~/Content/images/find-book-img.jpg" title="Find Book" alt="Find Book" width="105" height="150"></span>
            <div class="text">
                <p>Want to ace that test or write a report that shines? Great links and real live people at your service!	                                </p>
                <div class="margin-top_10"><img src="~/Content/images/find.jpg" width="143" height="61"></div>
            </div>
            <div class="clear"></div>
		</div><!--end one-collumn-->
        <div class="clear"></div>
        <div class="one-collumn float_left border margin-top_10">
            <div class="bg-purple kids-title">Have Some Fun</div>
            <span class="imgL border"><img src="~/Content/images/have-some-img.jpg" title="Have Some" alt="Have Some" width="105" height="150"></span>
            <div class="text">
                <p>Want to ace that test or write a report that shines? Great links and real live people at your service!	                                </p>	
            </div>
            <div class="clear"></div>
	    </div><!--end one-collumn-->
                 
        <div class="one-collumn float_right border margin-top_10">
            <div class="bg-green kids-title">What's Going On?</div>
            <span class="imgL border"><img src="~/Content/images/whats-going-img.jpg" title="What's Going On" alt="What's Going On" width="105" height="150"></span>
            <div class="text">
                <p>Want to ace that test or write a report that shines? Great links and real live people at your service!	                                </p>
                <div class="margin-top_10"><img src="~/Content/images/go.jpg" width="143" height="61"></div>
            </div>
            <div class="clear"></div>
        </div><!--end one-collumn-->   
        <div class="clear"></div>
    </div><!--end kids-content-->
    <div class="clear"></div>
</section>
