@{
    ViewBag.Title = "Teens";
    Layout = "~/Views/Shared/_LayoutTeens.cshtml";
}

<div class="inner_bg"></div><!--end inner-->
            	
<div class="inner-content">
    <div class="breadcum"><a href="index.html">Home</a> / Teens</div>
                
    <div class="teen-left">
        <div class="bckgd border padding">
            <span class="icon"><img src="~/Content/images/icon.jpg" alt="Group"width="25" height="24"></span>
            <p><a href="#" title="Online Teen Book Group">Online Teen Book Group</a></p>
        </div>
                
        <div class="bckgd border padding margin-top_10">
            <span class="icon"><img src="~/Content/images/rss.png" alt="RSS" width="25" height="24"></span>
            <p><a href="#" title="Subscribe to our feed">Subscribe to our feed</a></p>
        </div>        
                
        <div class="box bckgd border padding">
            <div class="center margin-bottom_10"><img src="~/Content/images/beneath.jpg" width="100" height="122"></div>
            <figcaption class="caption center">
                <a href="#">Teen Summer Reading</a><br />
				"Beneath the Surface" - is simple and fun. <br />Jun 10 - Aug 10
            </figcaption>
	    </div>
                
        <div class="box bckgd border padding">
            <div class="center margin-bottom_10"><img src="~/Content/images/live-help.jpg" alt="Live Help" width="84" height="84"></div>
            <figcaption class="caption center">
                <a href="#">Free homework help from online tutors</a><br />
				Every Day 1-10 p.m.
            </figcaption>
		</div>
    </div><!--end colomn-left-->
                
    <div class="teen-right">
        <div class="border">
            <h5><a href="#">More Poems</a></h5>
            <section class="padding">
                <figcaption class="caption float_left">05/23/13 at 12:27PM</figcaption>
                <figcaption class="caption float_right">By <strong class="strong">The Say-er of It</strong></figcaption>
                <div class="clear margin-bottom_10"></div>
                <figcaption class="caption">Fear Won't Let You Escape <br /> <br />
                    Summer is coming and that means long days, hot sun, and the Library Summer Reading Program. If you would like                                      to volunteer for the Summer Reading Program, please see your library's Young Adult Staff at the information                                        desk about applying for Summer volunteer opportunities. <br /><br />                                        Jeevanpreet S.
                	<span class="dashd"></span>
                	<span class="float_right"><a href="#">10 comments</a></span>
                </figcaption>
                <div class="clear"></div>
            </section>
        </div><!--end border-->
                
        <div class="border margin-top_10">
            <h5><a href="#">Summer Volunteer Opportunities</a></h5>
            <section class="padding">
                <figcaption class="caption float_left">05/23/13 at 12:27PM</figcaption>
                <figcaption class="caption float_right">By <strong class="strong">The Say-er of It</strong></figcaption>
                <div class="clear margin-bottom_10"></div>
                <figcaption class="caption">Fear Won’t Let You Escape <br /> <br />
                    Summer is coming and that means long days, hot sun, and the Library Summer Reading Program. If you would like                                      to volunteer for the Summer Reading Program, please see your library's Young Adult Staff at the information                                        desk about applying for Summer volunteer opportunities. <br /><br />                                        Jeevanpreet S.
                	<span class="dashd"></span>
                	<span class="float_right"><a href="#">10 comments</a></span>
                </figcaption>
                <div class="clear"></div>
            </section>
	    </div><!--end border-->
    </div><!--end colomn-right-->
    <div class="clear"></div>
</div><!--end left_part-->
            
<div class="right_part">
    <div class="coloumn3">
        <div class="inner-cen-bg">	
            <h3>Teen Links</h3>
                <ul class="catlog_nav">
            	    <li><a href="#" title="Explore">Explore</a></li>
               	  	<li><a href="#" title="Suggested Reading">Suggested Reading</a></li>
           		  	<li><a href="#" title="ebooks">ebooks</a></li>
       			  	<li><a href="#" title="Request">Request</a></li>
       			  	<li><a href="#" title="Book Clubs">Book Clubs</a></li>
           	    </ul>
        </div>
    </div><!--end coloumn3-->
    <div class="inner-bot-bg"></div>
            
    <div class="box border"><img src="~/Content/images/check-out-img.jpg" alt="Check Out Manga" width="303" height="82"></div>            
    <div class="box border padding">
        <h4 class="teen-header">LIBRARY LINKS</h4>
        <ul class="cat">
            <li><a href="#" title="Latest Movies">Latest Movies</a></li>
            <li><a href="#" title="Read Away Fines">Read Away Fines</a></li>
           	<li><a href="#" title="Teen Books">Teen Books</a></li>
            <li><a href="#" title="Volunteers">Volunteers</a></li>
        </ul>
   
        <h4 class="teen-header">HOMEWORK HELP</h4>
       	<ul class="cat">
            <li><a href="#">Live Homework Help®</a></li>
            <li><a href="#">Magazine & Newspaper Articles</a></li>
           	<li><a href="#">Opposing Viewpoints in Context</a></li>
            <li><a href="#">LearningExpress</a></li>
            <li><a href="#">More...</a></li>
        </ul>
                    
        <h4 class="teen-header">HANDY STUFF</h4>
        <ul class="cat">
            <li><a href="#">Cars & Driving</a></li>
            <li><a href="#">Health & Life</a></li>
           	<li><a href="#">Internet Safety</a></li>
            <li><a href="#">Young Adult Voices</a></li>
        </ul>
    </div><!--end box-->
</div> <!--end right part--> 
<div class="clear"></div>