@{
    ViewBag.Title = "Add - Folder";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Name = HttpContext.Current.Session["Name"];
}

<div class="header">
    <h1 class="page-title">Create an Document Repository Folder</h1>
</div>

<div class="formcontainer">
    <div style="line-height: 30px;">&nbsp;</div>
    <div style="color: red">@Html.ValidationSummary()</div>
    <form action="/Document/AddFolder" method="post" id="folderAdd">
        <input type="hidden" name="ParentId" value="@ViewBag.ParentId" id="ParentId" />
        <div class="formlabel">Folder Name:</div>
        <div class="formfield"><input type="text" class="input-xlarge" name="Name" value="@Model.Name"></div>
        <div class="clear">&nbsp;</div>
        <div style="line-height: 30px;">&nbsp;</div>
        <button form="folderAdd" class="btn btn-primary"><i class="icon-save"></i> Save</button>
    </form>
</div>

